/*//////////// dropdown menu ///////////*/
.dropbtn {
  background-color: #2696ff;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 1rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

/*//////// texts and inputs ///////*/
.container, h3 {
  font: 500 1rem 'Quicksand', sans-serif;
  margin-left: 1rem;
  font-weight: bold;
  margin-top: 0.2rem;
}

.container , .taskDescription {
  width: 97%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.containTitle {
  margin-top: 1rem;
}


.projectTitle {
  margin-left: 1rem;
  height: 18px;
  width: 40%;
}

.containTTitle {
  margin-top: 1rem;
}


.taskTitle {
  margin-left: 1rem;
  height: 18px;
  width: 40%;
}

.taskDescription {
  text-align: justify;
  height: 5rem;
  font-size: 16px;
  max-lines: 4;
}

textarea  {
  resize: none;
}

/*/////////////// chips /////////////*/

.chip {
  display: inline-block;
  padding: 0 15px;
  height: 40px;
  font-size: 16px;
  line-height: 40px;
  border-radius: 25px;
  background-color: #f1f1f1;
  margin-left: 1rem;
}

.chip img {
  /*float: left;*/
  display: none;
 /*margin: 0 10px 0 -25px;
  height: 50px;
  width: 50px;
  border-radius: 50%;*/
}

.closebtn {
  padding-left: 10px;
  color: #888;
  font-weight: bold;
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.closebtn:hover {
  color: #000;
}