/*//////// texts and inputs ///////*/
.container, h3 {
  font: 500 1rem 'Quicksand', sans-serif;
  margin-left: 1rem;
  font-weight: bold;
  margin-top: 0.2rem;
}
.container , .taskDescription {
  width: 96%;
  height: auto;
  display: block;
  margin: 0 auto;

}
.containTitle {
  margin-top: 1rem;
}
.projectTitle {
  margin-left: 1rem;
  height: 18px;
  width: 40%;
}
.containTTitle {
  margin-top: 1rem;
}
.taskTitle {
  margin-left: 1rem;
  height: 18px;
  width: 40%;
}
.taskDescription {
  text-align: justify;
  height: 5rem;
  font-size: 14px;
  max-lines: 4;
}
textarea  {
  resize: none;
  font: 500 1rem 'Quicksand', sans-serif;
}



